*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: orange;
  }
  
  .wrapper{
    margin-top: 10%;
  }
  
  h1{
    font-size: 70px;
    margin-bottom: 60px;
    text-align: center;
  }

/* Alinear los cuadros */
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  /* El cuadro donde van los nombres */
  .team .team_member{
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: white;
    background: violet;
    position: relative;
  }
  
  /* Nombres de las personas */
  h3{
    color:black;
    font-size: 25px;
    margin-top: 50px;
  }
  
  /* Fotos */
img {
    width: 100px;
    border-radius: 50%;
  }
