/* El cuerpo de la página */
body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1,h2,h3  {
  color: white;
}

  h4 {
    text-decoration: underline;
  }

  section {
    background: black;
}

/*La imagen */
img{
  display:block;
  margin:auto;
  }

  /* Botoón "Enviar" */
  button  {
    background: black;
    color: white;
  }

  /* Las casillas del formulario */
  input {
    background-color: grey;
    padding: 8px;
    width: 400px;
  }