/*El últmo li azul*/

li:last-child {
  color: blue;
}

/*Impares con texto subrayado verde*/

li:nth-child(2n+1) {

  text-decoration-line:underline;
  text-decoration-color: green;
}

/* Todos los elementos en una sola linea con separación 10px */

li {
  display: inline;
  float: left;
  margin: 10px;
}

/*Emojis diferentes en cada li al final */

li:after  {
  content: "\01F354";
}

/* Li en inglés que sean mas grandes */

li:nth-child(4) {
  font-size: 150%;
}

/* Numeros romanos en vez de puntos*/
li {
  list-style-type: upper-roman;
}

/*Coruña tengo un punto en vez de numero romano*/

li:nth-child(8) {
  list-style-type: circle;
}