/* Centrar formulario*/

  body {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

/* Campos obligatorios rojo*/
form input:required {
    border:2px solid red;
  }

/*Fieldsets tengan fondo gris claro y un padding de 1rem*/
input {
  background-color: grey;
  padding: 1rem;
}

/*Al pasar por encima del ratón de los fieldsets cambien de color de fondo a un gris más oscuro*/



/* El primer y último fieldset tengan un borde inferior de color negro y de 5 píxeles de ancho*/

input:first-child {
  border-radius: 5px;
}

/*botón de envío tenga fondo negro, texto blanco y no tenga borde*/

button  {
  background: black;
  color: white;
  border-radius: 10px;
}




